<!DOCTYPE html>
<html>
  <head>
    <title>Download Clip</title>
  </head>
  <body>
    <h1>Download a Video Clip</h1>
    <form action="/clip" method="get">
      <label
        >Start Time (ISO):
        <input
          type="text"
          name="start"
          placeholder="2025-06-20T14:30:00" /></label
      ><br />
      <label
        >End Time (ISO):
        <input
          type="text"
          name="end"
          placeholder="2025-06-20T14:30:30" /></label
      ><br />
      <input type="submit" value="Download Clip" />
    </form>
  </body>
</html>
